main{
    padding:10px 15vw;
}

h1,h5{
    display:flex;
    justify-content: center;
    margin-top: 30px;
}

header{
    display: flex;
    flex-direction: column;
}

.form-group,.form-check,.btn{
    margin: 10px 0px;
}

.card{
    display: flex;
    flex-direction: column;
}

#weather-img-container{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.card-img-top{
    border: solid;
    border-radius: 15px;
    border-width: 5px;
    border-color: grey;
}

.list-group-item{
    display: flex;
    justify-content: center;
}

#weather-blurb{
    display: flex;
    justify-content: center;
}